[Unit]
Description=Laravel video processing queue worker
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ deploy_user }}
Group={{ web_group }}
WorkingDirectory={{ app_dir }}/webapp

ExecStart=/usr/bin/php {{ app_dir }}/webapp/artisan queue:work video_processing --queue={{ queue_name }} --sleep=3 --timeout=0

Restart=always
RestartSec=5
TimeoutStopSec=3900
KillSignal=SIGTERM
UMask=0002

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target